In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pycaret.regression import *

In [12]:
file = pd.ExcelFile(".\data\\food-twentieth-century-crop-statistics-1900-2017-xlsx.xlsx")
df = file.parse('CropStats')
df = df.set_index(df.columns[0])
df.index.name = None

## Clean Data
Columns with too many null values or meaningless information are dropped.  
Columns with unclear names are renamed.  
For the subnational column null values are filled up with corresponding values from the national column.  
For yield, production, and hectares, if one of them is null but the others in the same row are not, the null one can be calculated. Here we need to pay attention to not divide by 0.  
We chose to focus on wheat, so we will be filtering the df accordingly.  
We also added columns with logarithmic transformations for yield, production, and hectares.

In [13]:
df.drop(['admin2', 'notes', 'Harvest_year'], axis=1, inplace=True)
df.rename(columns = {'admin0': 'national', 'admin1': 'subnational', 'hectares (ha)': 'hectares_ha', 'production (tonnes)': 'production_tonnes', 'yield(tonnes/ha)': 'yield_tonnes_ha'}, inplace=True)
df.loc[df['subnational'].isna(), 'subnational'] = df['national']
# Calculate yield
mask = df['yield_tonnes_ha'].isna() & ~df['production_tonnes'].isna() & ~df['hectares_ha'].isna() & df['hectares_ha'] != 0
df.loc[mask, 'yield_tonnes_ha'] = df['production_tonnes'] / df['hectares_ha']
df.dropna(subset=['yield_tonnes_ha'], inplace=True)
# Calculate production
mask = df['production_tonnes'].isna() & ~df['yield_tonnes_ha'].isna() & ~df['hectares_ha'].isna()
df.loc[mask, 'production_tonnes'] = df['yield_tonnes_ha'] * df['hectares_ha']
df.dropna(subset=['production_tonnes'], inplace=True)
# Calculate hectares
mask = df['hectares_ha'].isna() & ~df['yield_tonnes_ha'].isna() & ~df['production_tonnes'].isna()
df.loc[mask, 'hectares_ha'] = df['yield_tonnes_ha'] * df['production_tonnes']
df.dropna(subset=['hectares_ha'], inplace=True)
# The columns we just adapted just changed into objects, let's make them floats again
df['hectares_ha'] = df['hectares_ha'].astype(float)
df['production_tonnes'] = df['production_tonnes'].astype(float)
df['yield_tonnes_ha'] = df['yield_tonnes_ha'].astype(float)
# Filter for wheat
df = df[df['crop'] == 'wheat']
# Remove the crop column
df.drop('crop', axis=1, inplace =True)
# Logarithmic transformations
# df['log_yield'] = np.log1p(df['yield_tonnes_ha'])
# df['log_hectares'] = np.log1p(df['production_tonnes'])
# df['log_production'] = np.log1p(df['hectares_ha'])

In [15]:
belgium = df[df['national'] == 'Belgium']
belgium.head()

,national,subnational,hectares_ha,production_tonnes,year,yield_tonnes_ha
175,Belgium,Belgium,212139.0,753093.45,1961,3.55
176,Belgium,Belgium,212221.0,876472.73,1962,4.13
177,Belgium,Belgium,201443.0,743324.67,1963,3.69
178,Belgium,Belgium,217656.0,916331.76,1964,4.21
179,Belgium,Belgium,229353.0,864660.81,1965,3.77

In [17]:
train = df[df['year'] < 2007]
test = df[df['year'] >= 2007]

In [20]:
s = setup(data = train, test_data = test, target = 'yield_tonnes_ha', fold_strategy = 'timeseries', numeric_features = ['year', 'production_tonnes', 'hectares_ha'], fold = 3, transform_target = True, session_id = 123, data_split_shuffle = False, fold_shuffle = False)

In [21]:
best_model = compare_models()

In [22]:
tuned_model = tune_model(best_model)

Fitting 3 folds for each of 10 candidates, totalling 30 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Too much error because of too little data points.

In [23]:
prediction = predict_model(tuned_model)

In [24]:
s = setup(data=df, train_size=0.7, target='yield_tonnes_ha', fold=10, categorical_features=['national', 'subnational'], session_id=123)

In [25]:
best_model = compare_models()

In [27]:
tuned_model = tune_model(best_model)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [28]:
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [29]:
save_model(best_model, 'crops_jeffrey')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['hectares_ha', 'production_tonnes',
                                              'year'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['national', 'subnational'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['national'],
                                     transformer=OneHotEncoder(cols=['national'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['subnational'],
                                     transformer=TargetEncoder(cols=['subnational'],
                                                               handle_missing='return_nan'))),
                 ('trained_model', KNeighborsRegressor(n_jobs=-1))]),
 'crops_jeffrey.pkl')