In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

df = pd.read_excel("../data/titanic3.xls")

In [42]:
# change names
df = df.rename(columns={'pclass': 'Passenger Class', 'survived': 'Survived', 'age': 'Age', 'sibsp': 'Siblings/spouses aboard', 'parch': 'Parents/children aboard', 'fare': 'Passenger fare', 'embarked': 'Port of Embarkation', 'home.dest': 'Home/Destination'})
# create binary columns for sex and alone
df['sex'] = df['sex'].apply(lambda x: 0 if str(x) == 'male' else 1)
df['alone'] = df.apply(lambda row: 1 if row['Parents/children aboard'] == 0 and row['Siblings/spouses aboard'] == 0 else 0, axis=1)
# fill null values for age and fare
df['Age'].fillna(value=df['Age'].mean(), inplace=True)
df['Passenger fare'].fillna(value=df['Passenger fare'].mean(), inplace=True)
# drop unused columns
df.drop(['cabin', 'boat', 'body', 'ticket', 'name', 'Port of Embarkation', 'Home/Destination'], axis=1, inplace=True)

In [43]:
#!pip install pycaret

import pandas as pd
from pycaret.classification import *

s = setup(df, target = 'Survived', session_id = 123)

best = compare_models()

print(best)

evaluate_model(best)

predict_model(best)

predictions = predict_model(best, data=df)
predictions.head()

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='log_loss', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_samples_leaf=1,
                           min_samples_split=2, min_weight_fraction_leaf=0.0,
                           n_estimators=100, n_iter_no_change=None,
                           random_state=123, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

,Passenger Class,sex,Age,Siblings/spouses aboard,Parents/children aboard,Passenger fare,alone,Survived,prediction_label,prediction_score
0,1,1,29.0000,0,0,211.337494,1,1,1,0.9601
1,1,0,0.9167,1,2,151.550003,0,1,1,0.8784
2,1,1,2.0000,1,2,151.550003,0,0,1,0.5196
3,1,0,30.0000,1,2,151.550003,0,0,0,0.8493
4,1,1,25.0000,1,2,151.550003,0,0,1,0.9598

In [44]:
df_carrot2 = df.copy()

selected_columns = ['sex', 'Age', 'Passenger Class', 'Siblings/spouses aboard', 'Survived']

df_carrot2 = df_carrot2[selected_columns]

In [45]:
s = setup(df_carrot2, target = 'Survived', session_id = 123)

best = compare_models()

print(best)

evaluate_model(best)

predict_model(best)

predictions = predict_model(best, data=df)
predictions.head()

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='log_loss', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_samples_leaf=1,
                           min_samples_split=2, min_weight_fraction_leaf=0.0,
                           n_estimators=100, n_iter_no_change=None,
                           random_state=123, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

,Passenger Class,sex,Age,Siblings/spouses aboard,Parents/children aboard,Passenger fare,alone,Survived,prediction_label,prediction_score
0,1,1,29.0000,0,0,211.337494,1,1,1,0.9657
1,1,0,0.9167,1,2,151.550003,0,1,1,0.9833
2,1,1,2.0000,1,2,151.550003,0,0,0,0.7900
3,1,0,30.0000,1,2,151.550003,0,0,0,0.6760
4,1,1,25.0000,1,2,151.550003,0,0,1,0.9715

In [50]:
selected_columns3 = ['sex', 'Age', 'Passenger Class', 'Parents/children aboard', 'Survived']

s = setup(df[selected_columns3], target = 'Survived', session_id = 123)

best = compare_models()

print(best)

evaluate_model(best)

predict_model(best)

predictions = predict_model(best, data=df)
predictions.head()

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='log_loss', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_samples_leaf=1,
                           min_samples_split=2, min_weight_fraction_leaf=0.0,
                           n_estimators=100, n_iter_no_change=None,
                           random_state=123, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

,Passenger Class,sex,Age,Siblings/spouses aboard,Parents/children aboard,Passenger fare,alone,Survived,prediction_label,prediction_score
0,1,1,29.0000,0,0,211.337494,1,1,1,0.9544
1,1,0,0.9167,1,2,151.550003,0,1,1,0.9861
2,1,1,2.0000,1,2,151.550003,0,0,0,0.7087
3,1,0,30.0000,1,2,151.550003,0,0,0,0.7280
4,1,1,25.0000,1,2,151.550003,0,0,1,0.9750

In [48]:
selected_columns4 = ['sex', 'Age', 'Passenger Class', 'Passenger fare', 'Survived']


s = setup(df[selected_columns4], target = 'Survived', session_id = 123)

best = compare_models()

print(best)

evaluate_model(best)

predict_model(best)

predictions = predict_model(best, data=df)
predictions.head()

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='log_loss', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_samples_leaf=1,
                           min_samples_split=2, min_weight_fraction_leaf=0.0,
                           n_estimators=100, n_iter_no_change=None,
                           random_state=123, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

,Passenger Class,sex,Age,Siblings/spouses aboard,Parents/children aboard,Passenger fare,alone,Survived,prediction_label,prediction_score
0,1,1,29.0000,0,0,211.337494,1,1,1,0.9552
1,1,0,0.9167,1,2,151.550003,0,1,1,0.8607
2,1,1,2.0000,1,2,151.550003,0,0,0,0.5865
3,1,0,30.0000,1,2,151.550003,0,0,0,0.8505
4,1,1,25.0000,1,2,151.550003,0,0,1,0.9557